body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

footer {
    background: #2e2f42;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    color: #404bbf;
}

button {
    cursor: pointer;
}
address {
    font-style: normal;
}
 h1 {
    font-family: inherit;
 }
/* ========== header styles ============*/

.page-header {
    width: 1440px;
    height: 72px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
}
.logo-text {
    color: #2e2f42;
}

.nav-menu {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}

.nav-menu-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-info {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-info:hover {
    color: #404bbf;
}

/* ========== hero styles ============*/

.hero {
    background: #2e2f42;
}

.main-tittle {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.order-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

.order-button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #404bbf;
}

/* =======footer styles========= */

.logo-footer {
    color: #f4f4fd;
}

.footer-texts {
    color: #f4f4fd;
}